"""
    Landelijke tabellen

    API voor het ontsluiten van landelijke tabellen die op de website van BZK worden gepubliceerd.  # noqa: E501

    The version of the OpenAPI document: 1.0.0
    Generated by: https://openapi-generator.tech
"""


import re  # noqa: F401
import sys  # noqa: F401

from openapi_client.api_client import ApiClient, Endpoint as _Endpoint
from openapi_client.model_utils import (  # noqa: F401
    check_allowed_values,
    check_validations,
    date,
    datetime,
    file_type,
    none_type,
    validate_and_convert_types
)
from openapi_client.model.bad_request_foutbericht import BadRequestFoutbericht
from openapi_client.model.foutbericht import Foutbericht
from openapi_client.model.waarde import Waarde
from openapi_client.model.waarde_collectie import WaardeCollectie


class TabelwaardenApi(object):
    """NOTE: This class is auto generated by OpenAPI Generator
    Ref: https://openapi-generator.tech

    Do not edit the class manually.
    """

    def __init__(self, api_client=None):
        if api_client is None:
            api_client = ApiClient()
        self.api_client = api_client

        def __get_waarde(
            self,
            tabelidentificatie,
            code,
            **kwargs
        ):
            """get_waarde  # noqa: E501

            Het ophalen van de gegevens van een enkele waarde uit een landelijke tabel.  # noqa: E501
            This method makes a synchronous HTTP request by default. To make an
            asynchronous HTTP request, please pass async_req=True

            >>> thread = api.get_waarde(tabelidentificatie, code, async_req=True)
            >>> result = thread.get()

            Args:
                tabelidentificatie (str): De identificatie van een landelijke tabel.
                code (str): De code, behorende bij de tabelwaarde.

            Keyword Args:
                _return_http_data_only (bool): response data without head status
                    code and headers. Default is True.
                _preload_content (bool): if False, the urllib3.HTTPResponse object
                    will be returned without reading/decoding response data.
                    Default is True.
                _request_timeout (int/float/tuple): timeout setting for this request. If
                    one number provided, it will be total request timeout. It can also
                    be a pair (tuple) of (connection, read) timeouts.
                    Default is None.
                _check_input_type (bool): specifies if type checking
                    should be done one the data sent to the server.
                    Default is True.
                _check_return_type (bool): specifies if type checking
                    should be done one the data received from the server.
                    Default is True.
                _host_index (int/None): specifies the index of the server
                    that we want to use.
                    Default is read from the configuration.
                async_req (bool): execute request asynchronously

            Returns:
                Waarde
                    If the method is called asynchronously, returns the request
                    thread.
            """
            kwargs['async_req'] = kwargs.get(
                'async_req', False
            )
            kwargs['_return_http_data_only'] = kwargs.get(
                '_return_http_data_only', True
            )
            kwargs['_preload_content'] = kwargs.get(
                '_preload_content', True
            )
            kwargs['_request_timeout'] = kwargs.get(
                '_request_timeout', None
            )
            kwargs['_check_input_type'] = kwargs.get(
                '_check_input_type', True
            )
            kwargs['_check_return_type'] = kwargs.get(
                '_check_return_type', True
            )
            kwargs['_host_index'] = kwargs.get('_host_index')
            kwargs['tabelidentificatie'] = \
                tabelidentificatie
            kwargs['code'] = \
                code
            return self.call_with_http_info(**kwargs)

        self.get_waarde = _Endpoint(
            settings={
                'response_type': (Waarde,),
                'auth': [],
                'endpoint_path': '/tabellen/{tabelidentificatie}/waarden/{code}',
                'operation_id': 'get_waarde',
                'http_method': 'GET',
                'servers': None,
            },
            params_map={
                'all': [
                    'tabelidentificatie',
                    'code',
                ],
                'required': [
                    'tabelidentificatie',
                    'code',
                ],
                'nullable': [
                ],
                'enum': [
                ],
                'validation': [
                ]
            },
            root_map={
                'validations': {
                },
                'allowed_values': {
                },
                'openapi_types': {
                    'tabelidentificatie':
                        (str,),
                    'code':
                        (str,),
                },
                'attribute_map': {
                    'tabelidentificatie': 'tabelidentificatie',
                    'code': 'code',
                },
                'location_map': {
                    'tabelidentificatie': 'path',
                    'code': 'path',
                },
                'collection_format_map': {
                }
            },
            headers_map={
                'accept': [
                    'application/json',
                    'application/problem+json'
                ],
                'content_type': [],
            },
            api_client=api_client,
            callable=__get_waarde
        )

        def __get_waarden(
            self,
            tabelidentificatie,
            **kwargs
        ):
            """get_waarden  # noqa: E501

            Het ophalen van de tabelwaarden van een landelijke tabel.<br>Als er op omschrijving gezocht wordt worden alleen actuele waarden geretourneerd. <br> Als de parameter <b> inclusief beeindigd </b> met waarde <i> true </i>  wordt meegegeven bij de call worden ook beeindigde waarden geretourneerd.  # noqa: E501
            This method makes a synchronous HTTP request by default. To make an
            asynchronous HTTP request, please pass async_req=True

            >>> thread = api.get_waarden(tabelidentificatie, async_req=True)
            >>> result = thread.get()

            Args:
                tabelidentificatie (str): De identificatie van een landelijke tabel.

            Keyword Args:
                omschrijving (str): De omschrijving van de tabelwaarde. <br> Bij het zoeken mag er gebruik worden gemaakt van <b>[wildcards](https://github.com/VNG-Realisatie/Haal-Centraal-common/blob/master/features/wildcard.feature)</b>. <br>Zoeken is <b>[case-Insensitive](https://github.com/VNG-Realisatie/Bevragingen-ingeschreven-personen/blob/master/features/case_insensitive.feature)</b></a>. [optional]
                inclusiefbeeindigd (bool): De indicatie waarmee aangegeven wordt of beëindigde waarden moeten worden meegeleverd. Default worden alleen actuele tabelwaarden geretourneerd. Wanneer deze wordt opgenomen met de waarde true, dan worden ook beëindigde tabelwaarden meegeleverd.. [optional]
                _return_http_data_only (bool): response data without head status
                    code and headers. Default is True.
                _preload_content (bool): if False, the urllib3.HTTPResponse object
                    will be returned without reading/decoding response data.
                    Default is True.
                _request_timeout (int/float/tuple): timeout setting for this request. If
                    one number provided, it will be total request timeout. It can also
                    be a pair (tuple) of (connection, read) timeouts.
                    Default is None.
                _check_input_type (bool): specifies if type checking
                    should be done one the data sent to the server.
                    Default is True.
                _check_return_type (bool): specifies if type checking
                    should be done one the data received from the server.
                    Default is True.
                _host_index (int/None): specifies the index of the server
                    that we want to use.
                    Default is read from the configuration.
                async_req (bool): execute request asynchronously

            Returns:
                WaardeCollectie
                    If the method is called asynchronously, returns the request
                    thread.
            """
            kwargs['async_req'] = kwargs.get(
                'async_req', False
            )
            kwargs['_return_http_data_only'] = kwargs.get(
                '_return_http_data_only', True
            )
            kwargs['_preload_content'] = kwargs.get(
                '_preload_content', True
            )
            kwargs['_request_timeout'] = kwargs.get(
                '_request_timeout', None
            )
            kwargs['_check_input_type'] = kwargs.get(
                '_check_input_type', True
            )
            kwargs['_check_return_type'] = kwargs.get(
                '_check_return_type', True
            )
            kwargs['_host_index'] = kwargs.get('_host_index')
            kwargs['tabelidentificatie'] = \
                tabelidentificatie
            return self.call_with_http_info(**kwargs)

        self.get_waarden = _Endpoint(
            settings={
                'response_type': (WaardeCollectie,),
                'auth': [],
                'endpoint_path': '/tabellen/{tabelidentificatie}/waarden',
                'operation_id': 'get_waarden',
                'http_method': 'GET',
                'servers': None,
            },
            params_map={
                'all': [
                    'tabelidentificatie',
                    'omschrijving',
                    'inclusiefbeeindigd',
                ],
                'required': [
                    'tabelidentificatie',
                ],
                'nullable': [
                ],
                'enum': [
                ],
                'validation': [
                ]
            },
            root_map={
                'validations': {
                },
                'allowed_values': {
                },
                'openapi_types': {
                    'tabelidentificatie':
                        (str,),
                    'omschrijving':
                        (str,),
                    'inclusiefbeeindigd':
                        (bool,),
                },
                'attribute_map': {
                    'tabelidentificatie': 'tabelidentificatie',
                    'omschrijving': 'omschrijving',
                    'inclusiefbeeindigd': 'inclusiefbeeindigd',
                },
                'location_map': {
                    'tabelidentificatie': 'path',
                    'omschrijving': 'query',
                    'inclusiefbeeindigd': 'query',
                },
                'collection_format_map': {
                }
            },
            headers_map={
                'accept': [
                    'application/json',
                    'application/problem+json'
                ],
                'content_type': [],
            },
            api_client=api_client,
            callable=__get_waarden
        )
